/* Keyframe animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes backgroundColorChange {
    from {
        background-color: #333;
    }
    to {
        background-color: #575757;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
    }
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070707;
    animation: fadeIn 2s ease-out;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    max-width: 60%;
    margin: 20px auto;
    animation: fadeIn 2s ease-out;
}

header .header-content {
    text-align: center;
}

header small {
    font-size: 0.8em;
    color: #ccc;
}

header h1 {
    font-size: 2.5em;
    margin: 10px 0;
}

header p {
    font-size: 1.2em;
    margin: 5px 0;
}

section {
    margin: 1em;
    padding: 1em;
    background-color: #1e1e1e;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: transform 0.3s ease, border-color 0.3s ease;
    max-width: 80%;
    margin: 1em auto;
}

section:hover {
    transform: scale(1.05);
    border: 2px solid;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border-image-slice: 1;
}

h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
}

/* Specific styling for each section */
.about-me p,
.experience p,
.experience ul,
.education-item p,
.projects p,
.projects ul,
.skills ul,
.hobbies p {
    font-size: 1.1em;
    line-height: 1.6;
}

/* Section heading colors */
.about-me h2 {
    color: #3104c4; 
}

.experience h2 {
    color: #01cbcb;
}

.education h2 {
    color: #ff4500;
}

.projects h2 {
    color: #1e90ff;
}

.skills h2 {
    color: #32cd32;
}

.hobbies h2 {
    color: #ffa500;
}

.contact-info h2 {
    color: #ff1493;
}

/* Contact Info Section */
.contact-info {
    text-align: center;
    background-color: #333; /* Match the header background color */
    border-radius: 15px; /* Match the header border radius */
    padding: 20px;
    max-width: 80%; /* Match other sections width */
    margin: 1em auto; /* Match the header margin */
    color: white;
}

.contact-info h2 {
    margin-bottom: 1em;
    font-size: 2em;
}

.contact-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 90%; /* Adjusted to fit new size */
}

.contact-block {
    flex: 1;
    margin: 0 0.5em; /* Adjusted margin to tighten the block */
    padding: 1em;
    background-color: #1e1e1e;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.contact-block a {
    color: #00ffcc;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-block a:hover {
    color: #ff69b4;
}

.contact-block i {
    margin-bottom: 0.5em;
}

.contact-block p {
    margin: 0.5em 0;
}

.contact-block:hover {
    transform: scale(1.05);
}

/* Additional styling for education section to match other sections */
.education {
    margin: 1em auto;
    padding: 1em;
    background-color: #1e1e1e;
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    animation: fadeIn 2s ease-out;
    max-width: 80%; /* Match other sections width */
}

.education h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
}

.education-item {
    margin-bottom: 1em;
}

.education-item h3 {
    font-size: 1.5em;
    color: #00ffcc;
    margin-bottom: 0.3em;
}

.education-item p {
    margin: 0.2em 0;
}

.experience {
    background-color: #1e1e1e;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 1.5em;
    margin: 1em auto;
    max-width: 80%;
    color: white;
    animation: fadeIn 2s ease-out;
}

.experience h2 {
    color: #008080; /* Teal color */
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.experience p {
    font-size: 1.2em;
    margin: 0 0 1em;
}

.experience ul {
    list-style-type: disc;
    margin: 0;
    padding: 0 1em;
}

.experience li {
    font-size: 1.1em;
    margin: 0.5em 0;
}
